<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="Cadena1" connectionString="data source=LAB03-PC12\SQLEXPRESS; initial catalog=dbsistemaventas;integrated security=True"
      providerName="System.Data.SqlClient" />
    <add name="Cadena2" connectionString="data source=LAB03-PC12\SQLEXPRESS; initial catalog=dbsistemaventas; user=sa; password=123"
      providerName="System.Data.SqlClient" />
    <add name="Ventas.UI.Properties.Settings.bdVentasConnectionString"
      connectionString="Data Source=Luis;Initial Catalog=dbsistemaventas;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Ventas.UI.Properties.Settings.dbsistemaventasConnectionString"
      connectionString="Data Source=LAB03-PC12\SQLEXPRESS;Initial Catalog=dbsistemaventas;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>